<div class="banner">
  <div class="banner-content">
    <h1 id="banner-text">devhire</h1>
    <p>Discover the most skilled devs in the world</p>
    <!-- like image tag -->
    <%= form_tag(developers_path, method: :get, class: "form-inline") do %>
      <div class="form-search">
        <!-- does not come up previous search -> off -->
        <%= text_field_tag :query, nil, autocomplete: :off,
        class: "form-control search-input",
        placeholder: "Search your dev..." %>
        <%= submit_tag "Search", class: "btn btn-primary button-home" %>
      </div>
    <% end %>
    </div>
  </div>
</div>

<!-- <form>
  <input type="text" name="" placeholder="Search here">
  <input type="submit" name="" value="search">
</form> -->
